<div class="container-flex">
    <div class="item-flex" *ngFor="let title of titles">
        <h1 style="text-align: center;"> {{title}}</h1>
        <p [ngStyle]="{backgroundColor:getColor()}" [ngClass]="{online:serverStatus=='online'}" *ngIf="serverCreated; else noServer">Server: {{serverName}} status: {{getServerStatus()}} </p>
        <ng-template #noServer>
            <p > {{serverCreationStatus}} </p>
        </ng-template>
        <hr>
        <div class="bordering-image">
            <img src="../../../assets/index1.jpeg" alt="foto" width="300px">
        </div>
        <hr>
        <label>Server Name</label>
        <input type="text" class="form-control"  (input)="onUpdateNameServer($event)">
        <input type="text" class="form-control"  [(ngModel)]="serverName">
        <button [disabled]="!allowNewServer" (click)="onServerCreate()">Add Name Server </button>
     
    </div>
</div>
