.container-flex{
    display: flex;
    width: 100%;
    background-color: blue;
    flex-direction: row;
    justify-content: center;
}
.item-flex{
    background-color: yellow;
    width: 300px;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.bordering-image{
    width: 300px;
    border: 2px solid black;
}
.form-control{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button{
    position: relative;
    color: white;
    background-color: blue;
    margin-top: 10px;
    margin-left: 80px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 2px solid black;
}

button:hover{
    color: black;
    background-color: white;
}