*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font: 30px;
    margin: 0;
    padding: 0;
}
header{
    background-color: blueviolet;
    padding: 30px 30px;
    width: 100%;
    border-radius: 20px;
}

body{
    align-items: center;
}

h1,h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    margin-top: 20px;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card-item{
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    background: #B4CDE6;
}

.card-item a:link,.card-item a:visited{
    background-color: green;
    display: inline-block;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.card-item a:hover,.card-item a:active{
    background-color: white;
}

.top{
    vertical-align: top;
    margin: 0;
}

.middle{
    vertical-align: baseline;
    margin: 1rem;
}

.bottom{
    vertical-align: bottom;
    margin: 0;
}


.footer-content{
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background-color:black ;
    color: white;
}


.footer-content a:link,.footer-content a:visited{
    display: inline-block;
    border: none;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footer-content a:hover,.footer-content a:active{
    background-color: blueviolet;
}

label {
    margin: 0;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 30px 20px;
  }
  
.grid-item {
    background-color: dodgerblue;
    border-radius: 25px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  ol>li{
      margin: 20px;
      text-align: left;
  }

  ul>li{
      margin: 20px;
      text-align: center;
  }